{% extends 'base.html.twig' %}
{% block missions %}
<main>
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 pt-70 text-center">
                            <h2>Missions</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!--? Services Area Start -->
    <section class="service-area pt-150 pb-150">
        <div class="container">
            <!-- Section Tittle -->
            <div class="row d-flex justify-content-center">
                <div class="col-xl-7 col-lg-8 col-md-11 col-sm-11">
                    <div class="section-tittle  text-center mb-90">
                        <span>Nos Missions</span>
                        <h2>We provide best intorior solution for you</h2>
                    </div>
                </div>
            </div>
            <!-- Section caption -->
            <div class="row justify-content-center">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-9">
                    <div class="services-caption text-center mb-30">
                        <div class="service-icon">
                            <i class="flaticon-null"></i>
                        </div>
                        <div class="service-cap">
                            <h4><a href="#">Architecture</a></h4>
                            <p>sdfmsdkhufjsd mljhdsgf h ta lkjgfdug khhdfsu h;sdfh </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-9">
                    <div class="services-caption active text-center mb-30">
                        <div class="service-icon">
                            <i class="flaticon-null-1"></i>
                        </div>
                        <div class="service-cap">
                            <h4><a href="#">Décoration d'intérieur</a></h4>
                            <p>Sfdslfjhksdf mjshdfgmodshf lkjhsdfpiuhd liugdfjknqs kjhsqdf ml moqhsdf j kmjshqdf</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-9">
                    <div class="services-caption text-center mb-30">
                        <div class="service-icon">
                            <i class="flaticon-null-2"></i>
                        </div>
                        <div class="service-cap">
                            <h4><a href="#">Urban Design</a></h4>
                            <p>fdsfjdskh lkjhsdfh kjbdysgf beazo bjdskfjhdsfv kkjdsflu lkhbelre khgdskfn.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-9">
                    <div class="services-caption active text-center mb-30">
                        <div class="service-icon">
                            <i class="flaticon-null-1"></i>
                        </div>
                        <div class="service-cap">
                            <h4><a href="#">Interior Design</a></h4>
                            <p>Ssqdfsdfuipôper zajhbvoiuz ta jnfsdf mkjnsf;lo hbqsldkjhfn kjbsdf.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-9">
                    <div class="services-caption text-center mb-30">
                        <div class="service-icon">
                            <i class="flaticon-null-2"></i>
                        </div>
                        <div class="service-cap">
                            <h4><a href="#">Urban Design</a></h4>
                            <p>Sorem spsum dolor sit amsectetur adipisclit, seddo eiusmod tempor incididunt ut laborea.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-9">
                    <div class="services-caption text-center mb-30">
                        <div class="service-icon">
                            <i class="flaticon-null"></i>
                        </div>
                        <div class="service-cap">
                            <h4><a href="#">Architecture</a></h4>
                            <p>Sorem spsum dolor sit amsectetr adipisclit, seddo eiusmod tempr incididunt laborea.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Area End -->
</main>
{% endblock %}